---
apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ include "deepfence-console.fullname" . }}-config"
  labels:
    {{- include "deepfence-console.labels" . | nindent 4 }}
    name: "{{ include "deepfence-console.fullname" . }}-config"
data:
  DEEPFENCE_DEBUG: "false"
  DEEPFENCE_SAAS_DEPLOYMENT: "false"
  DEEPFENCE_TELEMETRY_ENABLED: "false"
