---
apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ include "deepfence-console.fullname" . }}-config"
  labels:
    {{- include "deepfence-console.labels" . | nindent 4 }}
    name: "{{ include "deepfence-console.fullname" . }}-config"
data:
  DEEPFENCE_DEBUG: "false"
  DEEPFENCE_SAAS_DEPLOYMENT: "false"
  DEEPFENCE_TELEMETRY_ENABLED: "false"
  {{- if .Values.fileserver.create }}
  DEEPFENCE_FILE_SERVER_HOST: {{ include "deepfence-console.fullname" . }}-file-server.{{ .Release.Namespace }}.svc.{{ .Values.router.cluster_domain }}
  DEEPFENCE_FILE_SERVER_PORT: "9000"
  {{- else }}
  DEEPFENCE_FILE_SERVER_HOST: {{ .Values.fileserver.fileServerHost }}
  DEEPFENCE_FILE_SERVER_PORT: {{ .Values.fileserver.fileServerPort }}
  {{- end }}

  {{- if .Values.proxy.enabled }}
  http_proxy: {{ .Values.proxy.http_proxy }}
  https_proxy: {{ .Values.proxy.https_proxy }}
  no_proxy: "127.0.0.1, localhost, {{ include "deepfence-console.fullname" . }}-file-server, {{ include "deepfence-console.fullname" . }}-postgres, {{ include "deepfence-console.fullname" . }}-redis, {{ include "deepfence-console.fullname" . }}-neo4j, {{ include "deepfence-console.fullname" . }}-kafka-broker, {{ include "deepfence-console.fullname" . }}-ui, {{ include "deepfence-console.fullname" . }}-server, {{ include "deepfence-console.fullname" . }}-router, *.{{ .Release.Namespace  }}.svc"
  {{- end }}

