[submodule "deepfence_agent/plugins/open-tracer"]
	path = deepfence_agent/plugins/open-tracer
	url = https://github.com/deepfence/open-tracer
	branch = main
[submodule "deepfence_agent/plugins/agent-plugins-grpc"]
	path = deepfence_agent/plugins/agent-plugins-grpc
	url = https://github.com/deepfence/agent-plugins-grpc
	branch = master
[submodule "deepfence_agent/plugins/package-scanner"]
	path = deepfence_agent/plugins/package-scanner
	url = https://github.com/deepfence/package-scanner
	branch = main
[submodule "deepfence_agent/plugins/SecretScanner"]
	path = deepfence_agent/plugins/SecretScanner
	url = https://github.com/deepfence/SecretScanner
	branch = master