# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

.idea
.DS_Store
.vscode
dev
dev2
!/deepfence_frontend/.vscode/
deepfence_frontend/console_version.txt
deepfence_frontend/product_version.txt

deepfence_agent/tools/apache/scope/proto/
deepfence_agent/tools/apache/scope/vendor/
deepfence_agent/agent-binary/build
deepfence_agent/agent-binary/dist

deepfence_server/vendor
deepfence_worker/vendor

deepfence_server/deepfence_server
deepfence_worker/deepfence_worker

deepfence_bootstrapper/vendor
deepfence_bootstrapper/deepfence_bootstrapper

openapi.json
openapi.yaml

deepfence_ctl/deepfencectl
deepfence_ctl/vendor

.pnpm-store

go.work*

./pkg/
deepfence_agent/tools/apache/scope/docker/deepfenceutil
deepfence_agent/tools/apache/scope/docker/deepfence_exe
deepfence_agent/tools/apache/scope/docker/deepfence
deepfence_agent/tools/apache/deepfence/df-utils/get_cloud_instance_id/getCloudInstanceId
deepfence_agent/deepfenced
deepfence_agent/fargate/*