[submodule "deepfence_agent/plugins/agent-plugins-grpc"]
	path = deepfence_agent/plugins/agent-plugins-grpc
	url = https://github.com/deepfence/agent-plugins-grpc
	branch = master
[submodule "deepfence_agent/plugins/package-scanner"]
	path = deepfence_agent/plugins/package-scanner
	url = https://github.com/deepfence/package-scanner
	branch = main
[submodule "deepfence_agent/plugins/SecretScanner"]
	path = deepfence_agent/plugins/SecretScanner
	url = https://github.com/deepfence/SecretScanner
	branch = master
[submodule "deepfence_agent/plugins/compliance"]
	path = deepfence_agent/plugins/compliance
	url = https://github.com/deepfence/compliance
	branch = main
[submodule "deepfence_agent/plugins/YaraHunter"]
	path = deepfence_agent/plugins/YaraHunter
	url = git@github.com:deepfence/YaraHunter.git
	branch = main
