.multi-cloud-view-selector {
  position: absolute;
  right: 0;
  padding: 10px 10px 0px 0px;
  display: flex;
  z-index: 1;

  .hamburger-icon {
    padding: 8px;
    margin-left: 6px;
    color: #cdcdcd;
    font-size: 1.3rem;
    margin-bottom: 4px;
    align-self: center;
    cursor: pointer;
  }
}
