apiVersion: v1
kind: Service
metadata:
  name: flask-echo-server
  labels:
    app: flask-echo-server
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 5000
    protocol: TCP
  selector:
    app: flask-echo-server