@import './../../../../styles/deepfence';
@import './../../../../styles/variables';

.headerContainer {
  position: sticky;
  top: 0;
  background-color: inherit;
  padding: 10px 50px;
  z-index: 1;
  width: 100%;
  overflow: hidden;
}

.wrapper {
  display: grid;
  grid-template-columns: 75% 25%;
}

.controlsWrapper {
  display: flex;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  position: relative;
  justify-content: flex-end;

  :global(button) {
    border: none;
    border-radius: 4px;
    background-color: #2e2e2e;
    padding: 10px;
    outline: none;

    :global(i) {
      margin-right: 5px;
    }
  }
}
.closeButton {
  cursor: pointer;
  font-size: 20px;
  top: 0;
  right: -30px;
  position: absolute;
}

.contentWrapper {
  display: flex;
  flex: 1;
  gap: 4em;
  @media screen and (max-width: 1024px) {
    gap: 1.5em;
  }
}

.alertSummaryItem {
  display: flex;
  flex-direction: column;
  max-width: 60%;

  .alertSummaryItemTitle {
    color: $text-secondary;
    font-weight: 600;
    font-size: 16px;
  }

  .alertSummaryItemContent {
    color: $text-primary;
    font-weight: bold;
    font-size: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: -6px;
  }
}

.actionButton {
  padding: 6px 8px !important;
  font-size: 12px;
  min-width: 0;
  height: 32px;
}


.hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 10px;
  margin-bottom: 0px;
}
