@import '../variables';

.table-compliance-cis {
  .ReactTable {
    .rt-table {
      .rt-thead {
        .rt-tr .rt-th {
          padding: 8px 4px;
        }
      }
    }
  }
}
.ReactTable {
  border: none !important;
  .rt-table {
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 90px;
    overflow: initial !important;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      padding-left: 14px;
      padding-right: 14px;
    }

    .rt-thead {

      &.-header {
        background-color: #202020;
        border-radius: 4px 4px 0 0  ;
      }

      .rt-th {
        &.allow-overflow {
          overflow: visible;
        }
        color: #FFFFFF;
        // font-family: $open-sans;
        font-size: 14px;
        line-height: 24px;
        text-align: left;
        text-transform: uppercase;
        font-weight: 400;

        .rt-resizer {
          right: 6px;
        }
      }

      .rt-tr {

        .rt-th {
          padding: 8px 12px;
          font-size: 14px;
          text-align: left;

          &.-sort-asc {
            box-shadow: none;
            position: relative;
          }
          &.-sort-asc::after {
            content: "\f078";
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            position: absolute;
            top: 7px;
            right: 15px;
            font-size: 10px;
          }
          &.-sort-desc {
             box-shadow: none;
          }

          &.-sort-desc::after {
            content: "\f077";
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            position: absolute;
            top: 7px;
            right: 15px;
            font-size: 10px;
          }

          .action-control {
            right: 0px;
            bottom: 0px;
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            position: absolute;
            display: flex;
            align-items: center;
            border-radius: 2px 2px 2px 0;
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
            padding: 9px 9px 7px 9px;

            div {
              display: inline-block;
            }

            .extra-options {
              margin-right: 10px;
              border-radius: 6px;
              .primary-btn {
                min-width: 50px;
                background-color: #007FFF;
                color: #FFFFFF;
                border-radius: 6px;
                border: none;
                padding: 3px 7px;
              }
            }

            .fa.active-color {
              background-color: #007FFF;
              color: #FFFFFF;
            }

            .fa {
              font-size: 20px;
              background-color: #383838;
              padding-left: 20px;
              padding-right: 20px;
              margin-right: 6px;
              padding-top: 5px;
              padding-bottom: 5px;
              border-radius: 4px;
            }
          }

          .action-control-left {
            bottom: 5px;
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            position: absolute;
            display: flex;
            align-items: center;
            border-radius: 2px 2px 2px 0;
            z-index: 100;
            background-color: #222222;

            div {
              display: inline-block;
            }

            .extra-options {
              margin-right: 10px;
              border-radius: 6px;
              .primary-btn {
                min-width: 50px;
                background-color: #007FFF;
                color: #FFFFFF;
                border-radius: 6px;
                border: none;
                padding: 3px 7px;
              }
            }

            .fa.active-color {
              background-color: #007FFF;
              color: #FFFFFF;
            }

            .fa {
              font-size: 20px;
              background-color: #383838;
              padding-left: 20px;
              padding-right: 20px;
              margin-right: 6px;
              padding-top: 5px;
              padding-bottom: 5px;
              border-radius: 4px;
            }
          }
        }
      }
    }

    .rt-tbody {
      overflow: revert;
      input{
        position: relative;
      }

      input[type=checkbox]:before {
        content: "";
        display: block;
        position: absolute;
        width: 16px;
        height: 16px;
        top: 0;
        left: 0;
        background-color: #202020;
        border: 1px solid #B2B0B2;
        border-radius: 2px;
      }
      input[type=checkbox]:checked:before {
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0;
        left: 0;
        background-color: #1E80EF;
      }
      input[type=checkbox]:checked:after {
        content: "";
        display: block;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 4px;
        left: 7px;
      }

      .rt-tr-group {
        border-bottom: none;
      }

      .sub-row .ReactTable {
        .rt-table {
          padding-right: 0px;
          background-color: rgba(216, 216, 216, 0.05);
          padding-left: 0px;
        }
      }

      .rt-tr {

        .rt-td {
          padding: 10px 4px;
          text-align: left;
          font-size: 14px;
          font-weight: normal;
          color: #B2B0B2;
          // font-family: $open-sans;

          .invisible {
            visibility: hide;
          }
        }

        .clickable {
          cursor: pointer;
        }
      }
      .rt-tr:not(.-padRow):hover {
        background: rgba( $highlight-color, .5);
      }
    }

  }
  .pagination-top, .pagination-bottom {

    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    position: absolute;
    bottom: -57px;
    right: 38px;

    &>ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
    }

    .previous {
      background-color: rgba(255, 255, 255, 0.16);
      border-radius: 1px 0 0 1px;
      width: 88px;
      height: 30px;
      // font-family: $open-sans;
      text-align: center;
      padding: 2px;

      a {
        color: #fff !important;
        font-size: 14px;
        line-height: 24px;
      }
    }

    .next {
      background-color: #2b2b2b;
      border-radius: 0 1px 1px 0;
      color: #FFFFFF !important;
      // font-family: $open-sans;
      font-size: 14px;
      line-height: 0px;
      text-align: center;
      margin-left: 0px;
      border: none;
      padding: 14px 20px;
      height: 30px;

      a {
        color: #fff !important;
        font-size: 14px;
      }
    }
    .selected {
      background-color: #2b2b2b;
      border-radius: 0 1px 1px 0;
      color: #FFFFFF !important;
      // font-family: $open-sans;
      font-size: 14px;
      line-height: 0px;
      text-align: center;
      margin-left: 0px;
      border: none;
      padding: 14px 10px;
      height: 30px;

      a {
        color: #fff !important;
        font-size: 14px;
        border: none !important;
      }

      a:focus {
        box-shadow: none;
      }
    }

    li {
      display: inline-block;
      cursor: pointer;
      background-color: #2b2b2b;
      border-radius: 0 1px 1px 0;
      color: #FFFFFF !important;
      // font-family: $open-sans;
      font-size: 14px;
      line-height: 0px;
      text-align: center;
      margin-left: 0px;
      border: none;
      padding: 14px 10px;
      height: 30px;

      a {
        color: $color;
        text-decoration: none;
      }

      //TODO: remove orange border on focus
      a:focus {
        border: none;
      }

      &.selected {
        &>a {
          color: $active-color;
          border: 1px solid $active-color;
          padding: 0px 6px;
          text-align: center;
        }
      }

      &.disabled {
        pointer-events: none;

        &>a {
          color: rgba($color, 0.5);
        }
      }

    }

  }
  .rt-noData {
    top: 65% !important;
    color: $text-color !important;
    background: $flex-box-background !important;
    z-index: 0 !important;
  }

}
