@import '../../../styles/deepfence';

.ReactTable {
  .rt-table {
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 25px;
    .rt-thead {
      height: 40px; /* hard-codes the height of table header */
      .rt-th {
        text-transform: capitalize;
        font-weight: 600;
      }
    }
    .rt-tbody {
      .rt-tr-group {
        .rt-tr.-even {
          background-color: rgba(216, 216, 216, 0.02);
        }
        .rt-expander:after {
          content: "\f067";
          color: $text-secondary;
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          width: auto;
          height: auto;
          border: none;
          text-decoration: inherit;
          transform: translate(-50%, -50%);
        }
        .rt-expander.-open:after {
          content: "\f068";
          color: $text-secondary;
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          width: auto;
          height: auto;
          border: none;
          text-decoration: inherit;
          transform: translate(-50%, -50%);
        }
      }
      .rt-tr {
        .rt-td {
          color: $text-secondary;
          padding: 8px 12px;
        }
      }
    }
    .rt-th:first-child {
      position: relative;

      div:before {
        color: #ffffff;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        width: auto;
        height: auto;
        border: none;
        position: absolute;
        left: 10px;
        top: 9px;
      }
    }
  }
}

@mixin vertical-align {
  border-radius: 50px;
  height: 25px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scan-status {
  color: $text-secondary;
  display: inline-flex !important;
  @include vertical-align;
  text-transform: capitalize;
  padding: 0 20px 0 20px;
  min-width: 135px;
}
.never-scanned {
  color: $text-secondary;
  border: 1px solid $text-secondary;
}
.running {
  color: $color-primary-outline;
  border: 1px solid $color-primary-outline;
}
.error {
  color: $color-error-outline;
}
.complete {
  color: $color-success-outline;
  border: 1px solid $color-success-outline;
}
.queue {
  color: $color-info-outline;
  border: 1px solid $color-info-outline;
}
.not-available {
  color: $text-secondary;
  border: 1px solid $text-secondary;
}

.empty-row {
  position: relative;
  margin: auto;
  padding: 5px 5px 5px 5px;
  color: $text-secondary;
  margin-bottom: 5px;
}