// Tooltip on node hover
.g6-tooltip {
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  font-size: 12px;
  color: #545454;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px 8px;
  box-shadow: rgb(174, 174, 174) 0px 0px 10px;
}
.slidingPanelContainer {
  background: black;
  /* this should ideally be margin-top, but the slider component we depend on
   * hardcodes height: 100vh in its inline style... */
  padding-top: 60px;
}
.slidingPanel {
  /* always set to scroll so that the panel header doesn't flicker horizontally
   * when navigating nodes. */
  overflow: scroll;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.sliding-panel-container {
  position: fixed;
  top: 0;
  left: 0;
}
.sliding-panel-container.active {
  position: fixed;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.3);
  will-change: transform;
}
.sliding-panel-container.active.click-through {
  pointer-events: none;
  background-color: transparent;
}
.sliding-panel-container.click-through > div {
  pointer-events: none;
}
.panel-content {
  height: 100%;
  width: 100%;
  pointer-events: all;
}
.panel-container-left-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.panel-container-left-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: transform 0.5s, opacity 0.5s;
}
.panel-container-left-exit {
  opacity: 1;
  transform: translateX(0);
}
.panel-container-left-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.5s, opacity 0.5s;
}
.panel-container-right-enter {
  opacity: 0;
  transform: translateX(100%);
}
.panel-container-right-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: transform 0.5s, opacity 0.5s;
}
.panel-container-right-exit {
  opacity: 1;
  transform: translateX(0);
}
.panel-container-right-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.5s, opacity 0.5s;
}
.panel-container-top-enter {
  opacity: 0;
  transform: translateY(-100%);
}
.panel-container-top-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: transform 0.5s, opacity 0.5s;
}
.panel-container-top-exit {
  opacity: 1;
  transform: translateX(0);
}
.panel-container-top-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: transform 0.5s, opacity 0.5s;
}
.panel-container-bottom-enter {
  opacity: 0;
  transform: translateY(100%);
}
.panel-container-bottom-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: transform 0.5s, opacity 0.5s;
}
.panel-container-bottom-exit {
  opacity: 1;
  transform: translateX(0);
}
.panel-container-bottom-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.5s, opacity 0.5s;
}

.nodefilterbar {
  background: black;
  margin-top: 170px;
  margin-left: 95px;
}

.closefilterbar {
  margin-left: 340px;
}

.iconbarfilter {
  margin-top: 5px;
  background: black;
  font-size: 25px;
  margin-left: 5px;
  margin-bottom: 5px;
  padding: 8px;
}

.filterpanelheader {
  background: #252525;
  color: white;
  height: 30px;
  margin-bottom: 20px;
}

.filter-inner-wrapper {
  padding: 5px 5px;
  width: 80%;
  float: left;
  position: absolute;
  z-index: 1;
}

.topologyheader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: $flex-head-background;
  border-radius: 4px 4px 0 0;
  padding-right: 20px;

  .selectors {
    display: flex;
    position: relative;
    > * {
      z-index: 20;
    }

    .time-control {
      z-index: 2001;
    }
  }
}

.topology-filters-wrapper {
  padding: 1px 6px 11px;
  white-space: nowrap;
  display: flex;
  z-index: 9;
  left: 10px;

  .filter {
    padding: 3px 8px;
    margin-right: 8px;
    background-color: rgba(29, 51, 114, 0.6);
    color: #abb2b7;
    border-radius: 5px;
    display: flex;
    font-size: 15px;
    margin-top: 6px;

    .filter-name {
      max-width: 100%;
    }
    .filter-remove-btn {
      display: flex;
      align-items: center;
    }
  }
}

.select-filter {
  color: black;
}

.select__control {
  color: rgb(174, 174, 174);
}

.child-filter-dropdown {
  position: absolute;
  right: 0;
  top: 30px;
  z-index: 1;
  padding: 7px;
}
