{% extends "detailed_report_security_report_base.html" %}
{% block header %}
{{header_html | safe}}
{% endblock %}
<br><br><br>
{% block content %}
<div class="content">
  {{ applied_filters_html | safe}}

  {{cve_table_html | safe}}
  {{ node_wise_vulnerability_html | safe }}

  {{alert_nodewise_count_report_html | safe}}
  {{alert_nodewise_summary_report_html | safe}}

  {{compliance_nodewise_count_report_html | safe}}
  {{compliance_nodewise_summary_report_html | safe}}


</div>
{% endblock %}
