@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?elulwb');
  src:  url('fonts/icomoon.eot?elulwb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?elulwb') format('truetype'),
    url('fonts/icomoon.woff?elulwb') format('woff'),
    url('fonts/icomoon.svg?elulwb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-workload-policies:before {
  content: "\e90a";
}
.icon-protection-policies:before{
  content: "\e911";
}
.icon-biohazard:before {
  content: "\e908";
}

.nav-icon-secret {
  height: 32px;
}
.nav-icon-secret:before {
  content: "\f023";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
}
.icon-webhook:before {
  content: "\e909";
}
.icon-alert:before {
  content: "\e900";
}
.icon-Home:before {
  content: "\e901";
}
.icon-notification:before {
  content: "\e902";
}
.icon-settings:before {
  content: "\e903";
}
.icon-Topology:before {
  content: "\e904";
}
.icon-total-alerts:before {
  content: "\e905";
}
.icon-user:before {
  content: "\e906";
}
.icon-Vulnerabilities:before {
  content: "\e907";
}
.icon-compliance:before {
  content: "\e921";
}
.icon-equalizer:before {
  content: "\e992";
}

.icon-containers:before {
  content: "\e90b";
}

.icon-docker-logo:before {
  content: "\e90d";
}

.icon-harbor-logo:before {
  content: "\e90f";
}

.icon-aws-logo:before {
  content: "\e910";
}

.icon-azure-logo:before {
  content: "\e914";
}

.icon-redhat:before {
  content: "\e925";
}

.icon-gitlab:before {
  content: "\e91c";
}

.icon-jfrog-with-text:before {
  content: "\e91b";
}

.icon-jfrog:before {
  content: "\e912";
}

.icon-gcr:before {
  content: "\e927";
}

.icon-kebab-menu:before {
  content: '\2807';
}
/* --------------------   Packet Capture Panel Starts --------------------------  */

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 21px;
  padding: 3px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border:solid 1px #252525;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "On";
  height: 9px;
  text-indent: -21px;
  line-height: 8px;
  font-size: 11px;
  width: 9px;
  left: 25px;
  background-color: rgb(219, 37, 71);
  bottom: 5px;
  color: rgb(219, 37, 71);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {

}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before{
  position: absolute;
    content: "Of";
    height: 9px;
    color: #7f7e7e;
    font-size: 11px;
    background-color: #7f7e7e;
    width: 9px;
    left: 5px;
    bottom: 5px;
    text-indent: 15px;
    line-height: 8px;
}
input:checked + .slider:before {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



.port-check-container {
    display: block;
    position: relative;
    margin-bottom: 3px;
    cursor: pointer;
    font-weight: normal;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.df-generic-modal .modal-body .port-check-container input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 3px;
  left: 0;
  background-color: #202020;
  border: 1px solid #B2B0B2;
  border-radius: 2px;
}
.df-generic-modal .modal-body .port-check-container input[type=checkbox]:checked:before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  top: 3px;
  left: 0;
  background-color: #1E80EF;
}
.df-generic-modal .modal-body .port-check-container input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 4px;
  left: 5px;
}


/* Create a custom checkbox */
.expend-port td{
  padding: 5px 0;
}

.expendable-port td{
  padding: 5px;
  font-size: 12px;
}
.expendable-port{
  border:solid 1px #252525;
  padding: 15px 0;

}

.expend-port .table-cell.open {
  background-color: #252525;
}

.setting-pcap{
  float: right;
  margin:3px 0 0 15px;
}
.pcap-check{
    vertical-align: middle;
}
.pcap-span{
  margin-left: 5px;
  margin-right: 10px;
}
.packet-wrapper{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #252525;
}

.port-list-wrapper {
  width: 50%;
}

.port-list-wrapper:first-child {
  margin-right: 10px;
}
.pcap-border {
  font-size: 14px;

}

.port-value-container {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}

.port-value-container .fa {
  cursor: pointer;
}

.pcap-select{
  border:solid 1px #999999;
  background-color:#303030;
  padding: 3px 5px;
  margin-bottom: 7px;
  color: #999999;
}
.pcap-control{
  padding: 10px 0 0 0;
}
.pcap-control2{
  padding: 10px 0 0 0;
  position: relative;
}
.pcap-control2-text{
  padding: 4px 0 0 0;
}



.sk-circle {
  margin: 0px auto 0 -15px;
  width: 65px;
  height: 65px;
  left: 50%;
  position:absolute;

}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #0080ff;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

.cve-wrapper {
	padding: 11px 36px!important;
}
.cve-status {
    position: relative;
}
.cve-loader {
	left: -30px;
	position: relative;
}
.cve-status .stop-play{
    font-size: 20px;
}
@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.error-message {
	color: #ff5286;
	font-size: 12px;
  display: block;
}

.error-message-reports {
  color: #ff5286;
  font-size: 12px;
  display: block;
  margin: -10px 0 20px 0;
}

.error-message-small  {
	color: #ff5286;
	font-size: 12px;
	line-height: 11px;
	display: block;
	margin-top: 5px;
	height:25px;
}
/* --  ------------------   Packet Capture Panel Ends -----------------------  ---  */
