apiVersion: apps/v1
kind: Deployment
metadata:
  name: deepfence-celery
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "deepfence-console.labels" . | nindent 4 }}
    app: deepfence-console
    name: deepfence-celery
spec:
  {{- if not .Values.celery.autoscaling.enabled }}
  replicas: {{ .Values.celery.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      name: deepfence-celery
      {{- include "deepfence-console.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app: deepfence-console
        name: deepfence-celery
        {{- include "deepfence-console.selectorLabels" . | nindent 8 }}
    spec:
      imagePullSecrets:
        - name: {{ .Values.image.pullSecretName }}
      serviceAccountName: {{ .Values.serviceAccountName }}
      automountServiceAccountToken: false
      volumes:
{{- if .Values.saas_deployment }}
        - name: varlog
          emptyDir: {}
        - name: promtail-config
          configMap:
            name: sidecar-promtail
{{- end }}
        - name: data
          emptyDir: {}
      containers:
        {{- if .Values.saas_deployment }}
        - name: promtail-sidecar-deepfence-celery
          image: grafana/promtail:2.5.0
          args:
          - '-config.expand-env'
          - '-config.file=/etc/promtail/config.yml'
          - '-client.external-labels=cluster={{ .Values.saas_env.clusterName }},env={{ .Values.saas_env.name }},clustertype=workloads,container=deepfence-celery'
          env:
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: NAMESPACE_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          volumeMounts:
          - mountPath: /etc/promtail
            name: promtail-config     
          - name: varlog
            mountPath: /var/log/supervisor
        {{- end }}
        - name: deepfence-celery
          image: "{{ .Values.registry.imagePrefix }}{{ .Values.celery.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.celery.image.pullPolicy }}
          command: ["/app/code/dockerify/celery/entrypoint.sh"]
          env:
            - name: mapper_image_name
              value: "deepfenceio/deepfence_vulnerability_mapper"
            - name: image_tag
              value: "{{ .Values.celery.image.tag }}"
            - name: router_service
              value: "deepfence-router:443"
            - name: k8s_image_pull_secret_name
              value: "docker-deepfence-secret"
            - name: deepfence_namespace
              value: {{ .Release.Namespace }}
            - name: VULNERABILITY_SCAN_CONCURRENCY
              value: "25"
            - name: POSTGRES_USER_DB_HOST
              valueFrom:
                secretKeyRef:
                  name: pg-secret-{{ include "deepfence-console.fullname" . }}
                  key: pg_host
            - name: POSTGRES_USER_DB_PORT
              valueFrom:
                secretKeyRef:
                  name: pg-secret-{{ include "deepfence-console.fullname" . }}
                  key: pg_port
            - name: POSTGRES_USER_DB_USER
              valueFrom:
                secretKeyRef:
                  name: pg-secret-{{ include "deepfence-console.fullname" . }}
                  key: pg_user
            - name: POSTGRES_USER_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: pg-secret-{{ include "deepfence-console.fullname" . }}
                  key: pg_password
            - name: POSTGRES_USER_DB_NAME
              valueFrom:
                secretKeyRef:
                  name: pg-secret-{{ include "deepfence-console.fullname" . }}
                  key: pg_users_db_name
            - name: POSTGRES_USER_DB_SSLMODE
              valueFrom:
                secretKeyRef:
                  name: pg-secret-{{ include "deepfence-console.fullname" . }}
                  key: pg_ssl_mode
            - name: ELASTICSEARCH_HOST
              valueFrom:
                secretKeyRef:
                  name: es-secret-{{ include "deepfence-console.fullname" . }}
                  key: es_host
            - name: ELASTICSEARCH_PORT
              valueFrom:
                secretKeyRef:
                  name: es-secret-{{ include "deepfence-console.fullname" . }}
                  key: es_port
            - name: ELASTICSEARCH_SCHEME
              valueFrom:
                secretKeyRef:
                  name: es-secret-{{ include "deepfence-console.fullname" . }}
                  key: es_scheme
            {{- if .Values.db.elasticsearch.user }}
            - name: ELASTICSEARCH_USER
              valueFrom:
                secretKeyRef:
                  name: es-secret-{{ include "deepfence-console.fullname" . }}
                  key: es_user
            {{- end }}
            {{- if .Values.db.elasticsearch.password }}
            - name: ELASTICSEARCH_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: es-secret-{{ include "deepfence-console.fullname" . }}
                  key: es_password
            {{- end }}
            {{- if .Values.saas_deployment }}
            - name: CUSTOMER_UNIQUE_ID
              valueFrom:
                secretKeyRef:
                  name: es-secret-{{ include "deepfence-console.fullname" . }}
                  key: es_customer_unique_id
            {{- end }}
            - name: REDIS_HOST
              valueFrom:
                secretKeyRef:
                  name: redis-secret-{{ include "deepfence-console.fullname" . }}
                  key: host
            - name: REDIS_PORT
              valueFrom:
                secretKeyRef:
                  name: redis-secret-{{ include "deepfence-console.fullname" . }}
                  key: port
          volumeMounts:
{{- if .Values.saas_deployment }}
            - name: varlog
              mountPath: /var/log/supervisor
{{- end }}
            - mountPath: /data
              name: data

          resources:
            {{- toYaml .Values.celery.resources | nindent 12 }}

      {{- with .Values.celery.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.celery.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}

