# The following env variable is for dev mode
# only. It is used by vite to proxy api requests
# on the localhost to the actual api server

#Testing
USERNAME=email
PASSWORD=password
LOCAL_CONSOLE_URL=url
CONSOLE_ORCHASTRATOR_URL=url
AGENT_ORCHASTRATOR_URL=url
SETTING_EMAIL=email
SETTING_PASSWORD=password

# AGENT TAG
AGENT_TAG=

# Registries
DOCKER_REGISTRY_PRIVATE_URL=url
DOCKER_USERNAME=username
DOCKER_PASSWORD=password
