@import '../variables';

.df-modal-form .file-upload-component.form-field {
  display: inline-flex;
}
.file-upload-component {
  cursor: pointer;
  .native-file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
  }

  .heading {
    flex: 1 1 300px;
    padding: 0px;
    height: auto;
    background-color: transparent;
    margin-bottom: 14px;
  }

  .file-input-label {
    text-align: center;
    cursor: pointer;
    // margin-bottom: 15px;
    flex: 1 1 auto;
    background-color: grey;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 15px;
  }

  .filename {
    flex: 1 1 136px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 5px;
  }
}
.file-upload-field-wrapper {
  // display: flex;
}
.primary-btn.import-button-wrapper {
    border: 1px solid $color-primary;
    max-width: 150px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    background-color: $color-primary;
    padding: 5px 10px;
    border-radius: 5px;
    // font-weight: 600;
}
