.dagreGraphContainer {
  height: 100%;
  width: 100%;
  :global(.dagre-node-tooltip) {
    color: rgb(166, 166, 166);
    padding: 6px 12px;
    border-radius: 4px;
    background-color: rgb(31, 31, 31);
    font-size: 12px;
  }
}
