.single-select-dropdown {
    display: flex;
    font-size: 14px;
}

.prefix-text-dropdown {
    margin: auto;
    padding-right: 10px;
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        display: none;
    }
}

.postfix-text-dropdown {
    margin: auto;
    padding-left: 10px;
}
