@import "../variables";

.df-modal-form {
  padding-top: 20px;

  .form-field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    &.dir-column {
      flex-direction: column,
    }

    &.justify-start {
      justify-content: start,
    }

    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    input[disabled] {
      cursor: not-allowed;
    }

    input[type=text] {
      width: 250px;
    }

    input[type=number] {
      width: 250px;
    }

    button[type=submit] {
      width: 100%;
    }

    .radio-item {
      margin-right: 10px;
      display: inline-block;
      position: relative;

      label {
        margin-bottom: 0px;
        padding-left: 20px;
        position: relative;
      }
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        z-index: 99;
        width: 100%;
        height: 100%;
        left: 0px;
      }
      .check {
        position: absolute;
        top: 3px;
        left: 0px;
        height: 16px;
        width: 16px;
        border: 2px solid #ddd;
        border-radius: 50%;
      }

      .container:hover input ~ .check {
        background-color: gray;
      }

      input:checked ~ .check {
        border: 2px solid $color-primary;
      }
      .check:after {
        content: "";
        position: absolute;
        display: none;
      }

      input:checked ~ .check:after {
        display: block;
      }

      .check:after {
        top: 3px;
        left: 3px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: $color-primary;
      }

    }

    .radio-item:last-child {
      margin-right: 0px;
    }

    .label {
      font-size: 16px;
      font-weight: bold;
      text-transform: capitalize;
    }

    .label-info {
      margin-left: 5px;
    }

    .Select--single{
      .Select-control {
        height: 24px;

        .Select-placeholder, .Select-value {
          line-height: 24px !important;
        }

        background-color: $input-field-background;
        color: $color;
        border: none;
        border-radius: 0px;

        .Select-input {
          height: 0px;
        }

        .Select-value {
          text-transform: capitalize;
          color: $color;
        }

        .Select-value-label {
          text-transform: capitalize;
          color: $color !important;
        }
      }
    }

    .Select--multi{
      .Select-control {
        .Select-input {
          height: 0px;
        }

        background-color: $input-field-background;
        color: $color;
        border: none;
        border-radius: 0px;

        .Select-value {
          color: $color-primary;
          margin-top: 4px;
          font-size: 14px;
          margin-bottom: 4px;
        }

        .Select-value-label {
          color: $color-primary !important;
          text-overflow: ellipsis;
          max-width: 160px;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }

    .Select-menu-outer{

      border: solid 1px $border-color;
      border-radius: 0px;
      background-color: #101010;

      .Select-option {
        background-color: $d-background-color;
        color: #999999;
        line-height: 12px;
        height: 26px;
        padding: 5px 0 5px 10px;
        text-transform: capitalize;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .Select-option.is-selected {
        color: $active-color;
        background-color: $d-background-color;
        border: 0.5px solid $active-color;
      }

      .Select-option.is-focused {
        background-color: #080808;
      }
    }
    .Select {
      width: 250px;
      &.is-focused:not(.is-open) {
        .Select-control {
          background-color: $input-field-background;
          border: none;
          box-shadow: none;
        }
      }
      &.is-focused {
        .Select-control {
          background-color: $input-field-background;
        }
      }
    }
  }
}
.df-modal-form-slim {

  .form-field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    &.dir-column {
      flex-direction: column,
    }

    &.justify-start {
      justify-content: start,
    }

    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    input[disabled] {
      cursor: not-allowed;
    }

    input[type=text] {
      width: 250px;
    }

    input[type=number] {
      width: 250px;
    }

    button[type=submit] {
      width: 100%;
    }

    .radio-item {
      margin-right: 10px;
      display: inline-block;

      label {
        margin-bottom: 0px;
      }
    }

    .radio-item:last-child {
      margin-right: 0px;
    }

    .label {
      font-size: 16px;
      font-weight: bold;
      text-transform: capitalize;
    }

    .label-info {
      margin-left: 5px;
    }
    .Select--single{
      .Select-control {
        .Select-input {
          height: 0px;
        }

        .Select-placeholder {
          line-height: 24px;
        }

        .Select-value {
          color: $color-primary;
          line-height: 30px !important;
          font-size: 14px;
          padding-right: 25px;
        }

        .Select-value-label {
          color: $color-primary !important;
        }
      }
    }

    .Select--multi{
      .Select-control {
        .Select-input {
          height: 0px;
        }

        background-color: transparent;
        color: $color;
        border: 1px solid $border-color;
        height: 30px;

        .Select-placeholder {
          line-height: 30px;
          font-size: 12px;
        }

        .Select-value {
          color: $color-primary;
          margin-top: 4px;
          font-size: 12px;
          margin-bottom: 4px;
          padding-right: 25px;
        }

        .Select-value-label {
          color: $color-primary !important;
          text-overflow: ellipsis;
          max-width: 130px;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }

    .Select-menu-outer{

      border: solid 1px #252525;

      .Select-option {
        background-color: #101010;
        color: #999999;
        line-height: 12px;
        height: 26px;
        padding: 5px 0 5px 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow-x: hidden;
        font-size: 14px;
      }

      .Select-option.is-selected {
        color: $color-primary;
        background-color: #07131d;
        border: 0.5px solid $color-primary;
      }

      .Select-option.is-focused {
        background-color: #080808;
      }
    }
    .Select {
      width: 250px;
      &.is-focused:not(.is-open) {
        .Select-control {
          background-color: transparent;
          border: 1px solid $border-color;
          box-shadow: none;
        }
      }
    }
  }
}
