@import '../variables';

.node-cve {
  // border-bottom: 1px solid $border-color;

  .section-header {
    padding: 10px 0;
    cursor: pointer;

    .title {
      font-size: 90%;
      text-transform: uppercase;
      font-weight: bold;
    }

    .description {
      font-size: 12px;
    }

    .icon {
      font-size: 20px;
    }
  }

  .cve-scan-status {
    font-size: 14px;
    margin-bottom: 5px;
    position: fixed;
    background: transparent;
    width: 90%;

    .text-message {
      display: inline-block;
      position: relative;
      width: 80%;
      padding-top: 15px;
    }

    .loader-container {
      position: relative;
      width: 20%;
    }
  }

  .section-body {
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 10px;

    .controls {
      margin-top: 45px;
    }
  }

  .cve-scan-form {
    font-size: 14px;
    padding-top: 5px;
    margin-top: 5px;
    .toggle-switch .toggle-switch-container .slyder {
      border: 1px solid #fff;
    }
    .title {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 10px;
      color: #FFFFFF;
    }

    .form-field {
      margin-bottom: 8px;
      position: relative;

      .label {
        margin-left: 5px;
        color: #B2B0B2;
      }

      .sub-heading {
        margin-bottom: 8px;
      }

      .link {
        color: $active-color;
        cursor: pointer;
      }
      .primary-btn {
        border: 1px solid $color-primary;
        min-width: 100px;
        background: transparent;
        color: #fff;
        cursor: pointer;
        font-size: 14px;
        max-width: 160px;
        background-color: $color-primary;
        height: 40px;
        border-radius: 4px;
      }
    }

    .form-field:last-child {
      margin-bottom: 0;
    }

    .df-checkbox-group {
      .df-checkbox-button {
        &>label {
          margin-left: 5px;
        }
      }
    }

    .df-radio-group {
      margin-top: 10px;
      display: block;

      .df-radio-button {
        margin-right: 30px;

        &>label {
          margin-left: 10px;
        }
      }
    }
  }
}

.cve-summary-view {
  margin-right: 0px;

  .summary {
    margin-bottom: 60px;
    margin-left: 100px;
    margin-top:10px;
    padding-right: 10px;

    .runtime-vulnerabilities {
      position: relative;
      .download.primary-btn {
          position: absolute;
          right: 10px;
      }
      .heading {
        background-color: transparent;
        padding-left: 30px;
      }
      .runtime-vulnerabilities-chart {
        background-color: $background-primary;
        margin-bottom: 10px;

        .ReactTable {
          padding-top: 10px;
        }
        .charts-heading {
          text-align: center;
          padding: 10px;
          font-weight: 500;
        }
        .charts-container {
          display: flex;

          .chart-container {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 30px 0px;

            .empty-data{
              display: flex;
              justify-content: center;
              align-items: center;
              min-height: 400px;
            }
          }

          .dagre-chart-container {
            width: 100%;
            max-width: 600px;
            min-width: 200px;
            margin: 0 auto;
            padding-bottom: 24px;
            margin-left: 50px;
            min-height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

      }
    }

    .heading {
      text-align: center;
      font-size: 18px;
      font-weight: 400;
    }

    .meta-description {
      text-align: left;
      color: #B2B0B2;
      // font-family: $open-sans;
      font-size: 13px;
      line-height: 16px;
      margin-left: 0px;
      padding-left: 30px;
      max-width: 30%;
      display: inline;
    }

    .download-btn {
      float: right;
      margin-right: 10px;
      margin-bottom: 10px;
      margin-top: 0px;
    }

    &.with-filters {
      padding-top: 115px;
    }

    .report {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $background-primary;
      position: relative;

      .severity-report {
        margin-top: 30px;
        .unique-vulnerabilities {
          position: absolute;
          left: 30px;
          color: #FFFFFF;
          // font-family: $open-sans;
          font-size: 20px;
          line-height: 24px;
          text-align: left;
          top: 23px;
          font-weight: 600;
        }
      }
      .cve-type-report {
        width: 50%;
        display: inline-block;
        position: relative;
      }
    }

    .severity-report-table {
      background-color: $flex-box-background;
      margin-top: 10px;
      // padding-top: 40px;

      .ReactTable {
        .rt-table{
          .rt-th:first-child {
            position: relative;

            div:before {
              color: #FFFFFF;
              font-family: FontAwesome;
              font-style: normal;
              font-weight: normal;
              width: auto;
              height: auto;
              border: none;
              position: absolute;
              left: 10px;
              top: 9px;
            }
          }
          .rt-th {
            padding: 8px 4px;
          }
        }

        .rt-tbody {
          .rt-tr-group {
            .rt-tr.-even {
              background-color: rgba(216, 216, 216, 0.02);
            }
            .rt-expander:after {
              content: "\f067";
              color: #B2B0B2;
              font-family: FontAwesome;
              font-style: normal;
              font-weight: normal;
              width: auto;
              height: auto;
              border: none;
              text-decoration: inherit;
              transform: translate(-50%, -50%);
            }
            .rt-expander.-open:after {
              content: "\f068";
              color: #B2B0B2;
              font-family: FontAwesome;
              font-style: normal;
              font-weight: normal;
              width: auto;
              height: auto;
              border: none;
              text-decoration: inherit;
              transform: translate(-50%, -50%);
            }
          }
        }

        .sub-row {

          .rt-table {
            padding-bottom: 0px;
          }
        }
      }
    }

    .cve-stats {
      &.no-show {
        opacity: 0;
        pointer-events: none;
      }
      // flex: 1 2 50%;
      max-width: 400px;
      border: 1px solid $border-color;

      .stats-table {
        padding: 15px 20px 15px 20px;

        .cve-id-link {
          cursor: pointer;
        }

        .name {
          color: $active-color;
          // font-family: $open-sans;
          text-transform: capitalize;
          text-align: center;
          font-size: 20px;
          font-weight: 300;
        }

        li {
          list-style: none;
          display: flex;
          justify-content: space-between;
          // font-family: $open-sans;
          font-size: 14px;

          span:first-child {
            text-transform: capitalize;
            max-width: 70%;
            text-overflow: ellipsis;
            overflow-x: hidden;
            white-space: nowrap;
          }
          span:last-child {
            margin-left: 5px;
          }
        }
      }
    }

    .sub-row {
      margin-left: 42px;

      .rt-table {
        border: 0px !important;
      }

    }

    .rt-tbody {
      .rt-tr-group {
        .rt-expander:after {
          border-top: 7px solid $color;
        }
      }
    }

    .table-title {
      padding: 10px;
      span {
        // font-family: $open-sans;
        font-size: 20px;
        font-weight:200;
        color: $active-color;
      }

      &.absolute {
        position: absolute;
      }

      &.absolute-pull-right {
        position: absolute;
        right: 0;
        margin-right: 10px;
        z-index: 1;
      }
    }
  }
}

@mixin vertical-align {
  border-radius: 50px;
  height: 25px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cve-severity-box-wrap-low {
  color: $low-alert-color;
  background-color: transparent;

  &.label {
    display: inline-flex !important;
    @include vertical-align;
    text-transform: capitalize;
    padding: 0 20px 0 20px;
    min-width: 100px;
  }

  &.value {
    padding: 0 5px 0 5px;
    display: inline;
  }
}
.cve-severity-box-wrap-critical {
  color: $critical-alert-color;
  background-color: transparent;
  &.label {
    display: inline-flex !important;
    @include vertical-align;
    text-transform: capitalize;
    padding: 0 20px 0 20px;
    min-width: 100px;
  }

  &.value {
    padding: 0 5px 0 5px;
    display: inline;
  }
}
.cve-severity-box-wrap-high {
  color: $high-alert-color;
  background-color: transparent;
  &.label {
    display: inline-flex !important;
    @include vertical-align;
    text-transform: capitalize;
    padding: 0 20px 0 20px;
    min-width: 100px;
  }

  &.value {
    padding: 0 5px 0 5px;
    display: inline;
  }
}
.cve-severity-box-wrap-medium {
  color: $medium-alert-color;
  background-color: transparent;
  &.label {
    display: inline-flex !important;
    @include vertical-align;
    text-transform: capitalize;
    padding: 0 20px 0 20px;
    min-width: 100px;
  }

  &.value {
    padding: 0 5px 0 5px;
    display: inline;
  }
}


.cve-details{

  .vulnerability-table-scan-wrapper {
    position: relative;
    top: 103px;
    background-color: $background-primary;
    margin-right: 10px;
  }

  .vulnerability-view-table-wrapper {
    position: relative;
    top: 103px;
    margin-top: 10px;
  }

  .mask-filter {
    display: flex;
    justify-content: flex-end;
  }

  .content-header {
    margin-bottom: 10px;
    text-align: center;

    &.with-filters {
      padding-top: 115px;
    }

    .title {
      font-size: 20px;
      width: 75%;
      margin: auto;

      .sub-title {
        font-size: 14px;
      }
    }


    .navigation {
      float: left;
      span {
        color: $low-alert-color;
        span {
          font-family: $base-font;
          font-size: 14px;
          margin-left: 5px;
        }
      }
    }
  }
}

.container-image-registry {
  .sub-row {
    margin: auto;
    width: 98%;
    border-bottom: 1px solid $border-color;
    margin-bottom: 50px;

    .rt-table {
      border: 0px !important;
    }
  }

  .rt-tbody {
    .rt-tr-group {
      .rt-expander:after {
        border-top: 7px solid $color;
      }
    }
  }
}

.registry-image-list {
  position: relative;

  .search-container {
    position: absolute;
    top: 10px;
    z-index: 99;

    .search-form {
      display: flex;

     .search-filter {
      width: 150px;
      margin-right: 10px;
     }

      input {
        font-family: FontAwesome, Sans-Serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        padding-left: 10px;
      }
    }
  }
  .refresh-container {
    position: relative;
    left: 0;
    z-index: 99;
    .message {
      margin-bottom: 4px;
      display: flex;
      align-items: center;
      span {
        font-style: italic;
        font-size: 1.35rem;
        margin-right: 10px;
      }

      i {
        cursor: pointer;
      }
    }
  }
}

.cve-summary-stats {
  display: flex;

  .single-stat {
    padding: 5px;
    border: 1px solid $border-color;

    .primary-text {
      font-size: 1.2rem;
      text-align: center;
    }

    .secondary-text {
      font-size: 0.8rem;
    }
  }
}

.vulnerability-stats-view {
  display: flex;

  .vulnerability-chart-wrapper {
    justify-content: space-between;
  }

  .vulnerability-stats-count {
    margin-right: 10px;
    max-width: 424px;
    background-color: $background-primary;
    width: 100%;

    .name {
      text-align: center;
      font-size: 20px;;
    }

    .label {
      // font-family: $open-sans;
      text-align: left;
      color: #8F93A2;
      font-size: 20px;
      line-height: 24px;
    }

    .severity-item {
      .label {
        font-size: 12px;
      }
    }

    .critical {
      color: $critical-alert-color;
    }

    .high {
      color: $high-alert-color;
    }

    .medium {
      color: $medium-alert-color;
    }

    .low {
      color: $low-alert-color;
    }

    .value {
      text-align: left;
    }

    .total {
      text-align: left;
      padding-left: 38px;
      margin-top: 20px;
      margin-bottom: 16px;
      color: #FFFFFF;

      .value {
        font-size: 60px;
        font-weight: 600;
        // font-family: $inter-sans;
        line-height: 60px;
      }
    }

    .severity-breakup {
      display: flex;
      padding-left: 38px;
      padding-bottom: 30px;

      .severity-item {
        margin-right: 20px;
        cursor: pointer;
        .value {
          font-size: 30px;
          // font-family: $inter-sans;
          font-weight: 500;
          line-height: 30px;
        }
      }

    }
  }

  .vulnerability-chart-wrapper {
    display: flex;
    width: 100%;
  }

  .top-vulnerable-nodes.center {
    margin-right: 10px;
  }

  .top-vulnerable-nodes {
    position: relative;
    flex: 1;
    background-color: $background-primary;

    &.empty-flex {
      flex: 1 1 auto;
    }

    .info {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: capitalize;
      font-weight: bold;
      font-size: 18px;
    }
  }
}
