.TopologyGraph {
  width: 100%;
  height: 100%;
  background: #111111;
}

.g6-df-toolbar {
  color: #abb2b7;
  background-color: #111111;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.g6-df-toolbar ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  padding-top: 0px;
  border: 2px solid #abb2b7;
  border-radius: 5px;
}

.g6-df-toolbar ul li {
  margin-top: 10px;
  cursor: pointer;
}
