@import './../../../../styles/deepfence';
@import './../../../../styles/variables';

.reachOverlay {
  left: calc(100vw - 500px);
  width: 500px;
  bottom: auto;
  height: auto;
  background: transparent;
  top: 60px;
  height: calc(100vh - 60px);
  overflow-y: auto;
}

.reachContent {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-y: auto;
  background: black;
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 46px;
  background-color: $theme-color;
  padding-left: 16px;
  color: #ffffff;
  font-weight: 600;
  position: sticky;
  top: 0;
  z-index: 1;

  .dismissBtn {
    height: 100%;
    padding-right: 24px;
    padding-left: 16px;
    cursor: pointer;
  }

  .titleWrapper {
    display: flex;
    align-items: center;
  }
}

.iconWrapper {
  border-radius: 100vh;
  overflow: hidden;
  margin-right: 8px;

  .iconImage {
    height: 100%;
    width: 100%;
    padding: 2px;
  }
}

.contentWrapper {
  padding: 16px;

  .assetCardWrapper {
    display: flex;
    flex-direction: column;

    .assetCardTitle {
      font-size: 16px;
      color: #fff;
      font-weight: bold;
      max-width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .assetCardSubTitle {
      font-size: 12px;
      font-weight: bold;
      max-width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .assetCardSeparator {
      width: 100%;
      border: 1px solid $border-color;
    }

    .statsWrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      .stat {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 16px;
        user-select: none;

        &:hover {
          background-color: $background-secondary;
          cursor: pointer;
          transition: all .3s ease;
        }

        .count {
          font-size: 32px;
          font-weight: bold;
          color: $critical-alert-color;
          display: flex;
          gap: 4px;
          align-items: center;
          justify-content: center;

          .countIcon {
            height: 28px;
            width: 28px;
            // https://codepen.io/sosuke/pen/Pjoqqp
            filter: invert(51%) sepia(77%) saturate(4548%) hue-rotate(320deg) brightness(100%) contrast(103%);
          }
        }

        .label {
          font-size: 14px;
          font-weight: bold;
          text-align: center;
        }
      }
    }
  }
}
