name: Build & Publish images

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Image Tag"
        required: false
        type: string
  pull_request:
    branches:
      - v2
      - main

env:
  DF_IMG_TAG: ${{ inputs.tag || github.sha }}

jobs:
  docker:
    runs-on: ['self-hosted']
    steps:

      - name: Setup go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Cache golang modules
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Build images
        run: |
          make

      - name: Push images
        run: |
          make publish

      - name: Output image tag
        run: echo "New image tag ${DF_IMG_TAG}" >> $GITHUB_STEP_SUMMARY
