@layer base {
  :root {
    --brand-blue: #2742e7;
    --brand-magenta: #d91590;
    --brand-purple: #6d32e5;
    --text-text-and-icon: #565656;
    --text-input-value: #000000;
    --text-text-inverse: #ffffff;
    --text-link: #1c64f2;
    --accent-accent: #0079b8;
    --bg-page: #f6f9ff;
    --bg-grid-border: #e5e7eb;
    --bg-tooltip: #f2f2f2;
    --bg-grid-header: #f2f6f8;
    --bg-top-header: #ffffff;
    --bg-left-nav: #fcfcfc;
    --bg-breadcrumb-bar: #f2f6f8;
    --bg-grid-default: #ffffff;
    --bg-grid-border-light: #e5e7eb;
    --bg-map-cluster: #183867;
    --bg-card: #fcfcfc;
    --bg-map-node: #1b365e;
    --bg-active-selection: #f3f5f7;
    --bg-hover-1: #0072a3;
    --bg-hover-2: #f9fafb;
    --bg-hover-3: #0099e9;
    --bg-side-panel: #eceff1;
    --status-success: #3c8500;
    --status-error: #c81e1e;
    --status-warning: #e3a008;
    --status-info: #1d8ee6;
  }
  .dark {
    --brand-blue: #2742e7;
    --brand-magenta: #e640a2;
    --brand-purple: #753ee5;
    --text-text-and-icon: #b2c0c9;
    --text-input-value: #eeeeee;
    --text-text-inverse: #000000;
    --text-link: #0ca7ff;
    --accent-accent: #489cff;
    --bg-page: #020617;
    --bg-grid-border: #2c375f;
    --bg-tooltip: #233c7d;
    --bg-grid-header: #0f1e34;
    --bg-top-header: #0c1a33;
    --bg-left-nav: #0b121e;
    --bg-breadcrumb-bar: #11223b;
    --bg-grid-default: #0c182a;
    --bg-grid-border-light: #1c243f;
    --bg-map-cluster: #183867;
    --bg-card: #16253b;
    --bg-map-node: #1b365e;
    --bg-active-selection: #183867;
    --bg-hover-1: #3777c2;
    --bg-hover-2: #0e1f33;
    --bg-hover-3: #0140e3;
    --bg-side-panel: #192c49;
    --status-success: #15b77e;
    --status-error: #f56682;
    --status-warning: #ff9c32;
    --status-info: #1d8ee6;
  }
}
